.vercel
.next*
next-env.d.ts
node_modules
tsconfig.tsbuildinfo
.env
out
.DS_Store
*debugAdam.ts
*debug/
*exportContacts.ts

*.code-workspace

extension.zip

localhost-key.pem
localhost.pem

# Sentry Auth Token
.sentryclirc
